* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: rgb(119, 113, 113);
  overflow-x: hidden;
}

.active-link {
  color: whitesmoke;
}
